In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/chrislangseth/test_output/15-a_metrics.csv')

In [6]:
df.T

                          0           1            2
Unnamed: 0                0           1            2
channel                   0           1            2
mean_intensity  1803.818713  862.666667  3053.819255
count                   513          87         1101
file                   15-a        15-a         15-a